.header {
    background: #ff5d00;
    display:table;
    table-layout: fixed;
    width: 100%;
    border-radius: 10px;
}

.item{
    font-weight: bold;
    text-align:center;
    padding-top: 1rem;
    padding-bottom:1rem;
    display:table-cell;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.item:hover{
    background: #ffb100;
}

.item:active, .item.active {
    background: white;
    color: #ff5d00;
}